<?xml version="1.0"?>
<robot name="Pan_a5e0efaaf0ded23e88d29413a3dd87fd_S">
  <link name="base"/>
  <link name="link_0">
  <visual>
    <origin xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="Pan_a5e0efaaf0ded23e88d29413a3dd87fd_S.obj" scale="1.0 1.0 1.0"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="collision.obj" scale="1.0 1.0 1.0"/>
    </geometry>
  </collision>
  </link>
  <joint name="joint_0" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="link_0"/>
    <parent link="base"/>
  </joint>
</robot>
