<?xml version="1.0"?>
<robot name="Mug_ba10400c108e5c3f54e1b6f41fdd78a_S">
  <link name="base"/>
  <link name="link_0">
  <visual>
    <origin xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="Mug_ba10400c108e5c3f54e1b6f41fdd78a_S.obj" scale="1.0 1.0 1.0"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0"/>
    <geometry>
      <mesh filename="collision.obj" scale="1.0 1.0 1.0"/>
    </geometry>
  </collision>
  </link>
  <joint name="joint_0" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="link_0"/>
    <parent link="base"/>
  </joint>
</robot>
